button {
    font-size: 23px;
    margin-top: 50px;
    flex-direction: row;
    margin-left: 30px;
    border: none;
    padding: 17px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;

} 
.left-button {
    color: #ffff;
    background-color: #3751FF;
}
.right-button {
    color: #3751FF;
    background-color: #ffff;
}
