.form {
    display: inline-block;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 35px;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    font-size: 23px;

}
.form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px ;
    border: 1px solid #E1E3E7; ;
    margin-top: 0;
    
    


}
.form-row > label {
    display: inline-block;
    color: #25304C;
    flex-direction: row;
    margin-left: 30px;
    
    
    

}
.form-row > input {
    border: none;
    color: #3A52FF;
    font-size: 20px;
    line-height: 40px;
    margin-left: 30px;

}

/* Pasidaviau  su left side ir ieskodamas kaip padaryt seseli 1/2 apatinio */
form-row > label:hover {
    padding: 50px;
    
}
.form-row-container {
    display: flex;
    flex-direction: row;
    gap: 130px;
    color: #A2A4B3;
    margin-top: 50px;
    margin-left: 20px;
    
}
.form-row-container > a {
    text-decoration: none;
    color: #3950F3;
}
form-row > input::placeholder {
    font-size: 23px;
    background-color: #fff;
}

