body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    background-color: #fff;
}
main {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}
.left-column {
    width: 40%;
    height: 100vh;
    float: left;
    background-image: url(../img/left-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    color: white;
    position: absolute;
    
}
.main-title {
    color: #3751FF;
    width: 80%;
    font-size: 38px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 120px;

}
.upper-text {
    color: #202F53;
    width: 80%;
    font-size: 45px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 100px;
    

}
.lower-text {
    color: #8A8C9B;
    width: 80%;
    font-size: 23px;
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 25px;



}
.bottom-links {
    margin-top: 85px;
    display: flex;
    color: steelblue;
    flex-direction: row;
    gap: 40px
    
}
.bottom-links > a {
    text-decoration: none;
    color: #3950F3;
}
/* Right-SIDE*/

.right-column {
    width: 60%;
    height: 100vh;
    float: right;
    background-image: url(../img/right-pic.png);
    background-color: #F6F7FF;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: bottom;
    position: relative;

}
